.grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.turn-highlight {
    color: #fff;
}

.reset {
    padding: 10px 25px;
    border: 1px solid #777;
    border-radius: 5px;
    background-color: #00ff00;
    color: #fff;
}